#=============== 
#v 1.04 modded
#===============
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Pp]rojectSettings/
**/[Uu]nityPackageManager/

#=====================================
#Visual Studio / MonoDevelop generated
#=====================================# 


**/.vs/
**/.vscpde/
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.apk
*.user
*.unityproj
*.booproj

LayoutPanel.UI.Unity/.vscode/

LayoutPanel.UI.Unity/Logs/

LayoutPanel.UI.Unity/.idea/
